body {
  margin: 0;
  font-family: Arial;
  overflow: hidden;
}

.header {
  height: 60px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  height: calc(100vh - 60px);
}

.left, .right {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

/* PREVIEW AREA */
.preview {
  position: relative;
  height: 75%;
  border: 1px solid #ccc;
  overflow: auto;
}

/* IMAGE */
#img {
  position: absolute;
  top: 0;
  left: 0;
}

/* CANVAS */
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
}

/* DROPDOWN */
#selector {
  position: absolute;
  display: none;
  z-index: 10;
}

/* RIGHT PANEL */
.right {
  display: flex;
  flex-direction: column;
}

#code {
  flex: 1;
  font-family: monospace;
}

#previewFrame {
  flex: 1;
  border: 1px solid #ccc;
}